﻿@{
    ViewBag.Title = "Registration";
}
<h2 class="text-center">@ViewBag.Title</h2>

<div class="container col-md-2">
    <form class="form-signin" role="form" data-toggle="validator" action="/Auth/register" method="post">
        <input name="nickName" type="text" class="form-control form-input" placeholder="nick name" required autofocus>
        <input name="login" type="text" class="form-control form-input" placeholder="login" required autofocus>
        <input name="password" type="password" class="form-control form-input" placeholder="password" required>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Register Me</button>
    </form>

    @if (!String.IsNullOrEmpty(ViewBag.Message))
    {
    <label class="text-center bg-info mt-2">@ViewBag.Message</label>
    }
</div>