﻿@{
    ViewBag.Title = "BestChat";
}

<div class="container col-md-10">
    <form class="form-signin" role="form" method="post" action="/Auth/logIn">
        <input class="col-md-4 mr-4" id="chatInput" type="text">
        <button type="button" id="sendButton" class="btn btn-success">Send Message</button>
    </form>
    <ul id="chatContainer">
    </ul>
</div>
<script>
    var messages = JSON.parse(@Html.Raw(Json.Encode(ViewData["messages"])));
    var chatContainer = document.querySelector("#chatContainer");
    var domMessages = "";
    for (i = 0; i < messages.length; i++) {
        domMessages += "<li>" + messages[i].nickName + " : " + messages[i].message + "</li>";
    }
    chatContainer.innerHTML = domMessages;
    function ChatApi() {
        this.socketPath = "ws://localhost:51548/Chat/ChatContoller.cs"
        this.socket = null;
        this.chatInput = document.querySelector("#chatInput");
        this.chatContainer = document.querySelector("#chatContainer");
    }
    ChatApi.prototype.init = function () {
        this.socket = new WebSocket(this.socketPath);
        this.socket.onopen = function () {
            alert("connected");
        }
        this.socket.onerror = function () {
            alert("something happend while connection");
        }
        this.initSocketOnMessage();
        this.initSocketSend();
    }
    ChatApi.prototype.initSocketSend = function () {
        var self = this;
        document.querySelector("#sendButton").onclick = function () {
            self.socket.send(self.chatInput.value);
            self.chatInput.value = "";
        }
    }
    ChatApi.prototype.initSocketOnMessage = function () {
        var self = this;
        this.socket.onmessage = function (message) {
            debugger;
            var span = document.createElement('li');
            span.innerHTML = msg.data;
            self.chatContainer.appendChild(span);
        };
    }
    var chatApi = new ChatApi();
    chatApi.init();
</script>
